// Define variables for your color scheme

// For example:
$black: #16171a;
$light-blue: #c1d0fb;
$dark-blue: #0f1d48;
$aqua: #308dd9;
$red: #d73333;
$green: rgb(23, 107, 34);
$orange: rgb(217, 153, 80);
