// Import page-specific CSS files here.
@import "home";

p {
  margin: 12px;
}

h1 {
  margin: 16px 0px;
}

.background-image-faded {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://compote.slate.com/images/721112a8-1fa9-4a48-8eeb-0c4f29e0d8f6.jpeg?crop=1554%2C1036%2Cx2%2Cy0);
}
