.lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px
}

.bookmarks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px
}

@media (max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .bookmarks {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .bookmarks {
    grid-template-columns: 1fr;
  }
}

.list-card{
  height: 200px;
  width: 300px;
  border-radius: 12px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://compote.slate.com/images/721112a8-1fa9-4a48-8eeb-0c4f29e0d8f6.jpeg?crop=1554%2C1036%2Cx2%2Cy0);
  background-size: cover;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 2px black;
}

.bookmark-card {
  width: 460px;
  .image {
    width: 460px;
    height: 200px;
    background-position: 30px -100px;
  }
}

.bookmark-details p {
  font-size: 12px;
  color: gray;
}

.comment-and-delete-button p {
  color: $primary;
  font-weight: bold;
}
